<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
    <title>Landsat</title>
</head>
<body>
    <div class="form-container">
        <div>
            <label for="longitude">Longitude:</label>
            <input type="text" id="longitude" name="longitude">
            <label for="latitude">Latitude:</label>
            <input type="text" id="latitude" name="latitude">
            <label for="DataInicio">Data Inicio:</label>
            <input id="dateInicio" type="date" />
            <label for="DataFim">Data Inicio:</label>
            <input id="dateFim" type="date" />
            <button onclick="buscar()">Buscar</button>
        </div>
    </div>
   
    <div id="map">{{ map_html|safe }}</div> 

</body>
</html>
