<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landsat</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body id="body" class="body-map">
    <!-- Informações -->
    {% if informacoes %}
    <div id="informacoes">
        
        <div class="nav-bar top-nav">        
            <button class="btn-class-name">
                <span class="back"></span>
                <span class="front"></span>
            </button>
            <button class="btn-class-name">
                <span class="back"></span>
                <span class="front"></span>
            </button>
        </div>

        <div class="nav-bar top-nav" style="left: 800px">        
            <button class="btn-class-name">
                <span class="back"></span>
                <span class="front"></span>
            </button>
            <button class="btn-class-name">
                <span class="back"></span>
                <span class="front"></span>
            </button>
        </div>
    </div> 
    <!-- Mapa -->
     {% elif mapa %}
    <div id="map">{{ map_html|safe }}
        
        <div class="nav-bar top-nav">        
            <button class="btn-class-name">
                <span class="back"></span>
                <span class="front"></span>
            </button>
            <button class="btn-class-name">
                <span class="back"></span>
                <span class="front"></span>
            </button>
        </div>

        <div class="nav-bar top-nav" style="left: 800px">        
            <button class="btn-class-name">
                <span class="back"></span>
                <span class="front"></span>
            </button>
            <button class="btn-class-name">
                <span class="back"></span>
                <span class="front"></span>
            </button>
        </div>
    </div> 
    {% elif tela %}
    <div id="tela">
        <div>
            <img src="static/images/landscience.png" style="transform: scale(0.5);border-radius: 50%;" alt="">
        </div>
        <div class="nav-bar top-nav">        
            <button class="btn-class-name" onclick="acessarInicio()">
                <span class="back"></span>
                <span class="front"></span>
            </button>
            <button class="btn-class-name" onclick="acessarMapa()">
                <span class="back"></span>
                <span class="front"></span>
            </button>
        </div>

        <div class="nav-bar top-nav" style="left: 800px">        
            <button class="btn-class-name">
                <span class="back"></span>
                <span class="front"></span>
            </button>
            <button class="btn-class-name">
                <span class="back"></span>
                <span class="front"></span>
            </button>
        </div>
    </div>  
    {% endif %}

    <script>
       function acessarMapa() {
            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ mapa: true })  // Enviando o valor correto de mapa
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();  // Recebe a resposta como HTML (texto)
            })
            .then(html => {
                // Substitui o conteúdo da página pelo novo HTML
                document.open();  // Abre o documento HTML
                document.write(html);  // Substitui o conteúdo pelo HTML retornado
                document.close();  // Fecha o documento
            })
            .catch((error) => {
                console.error('Erro:', error); // Log de erro
            });
        }

        function acessarMapa() {
            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ mapa: true })  // Enviando o valor correto de mapa
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();  // Recebe a resposta como HTML (texto)
            })
            .then(html => {
                // Substitui o conteúdo da página pelo novo HTML
                document.open();  // Abre o documento HTML
                document.write(html);  // Substitui o conteúdo pelo HTML retornado
                document.close();  // Fecha o documento
            })
            .catch((error) => {
                console.error('Erro:', error); // Log de erro
            });
        }
        
    </script>

</body>

</html>
